.cal {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  max-width: 25em;
  font-family: "Lucida Grande", Verdana, Arial, sans-serif;
  text-align: center;
}

.cal caption {
  text-align: left;
  border-bottom: 1px solid #ddd;
  line-height: 2;
  font-size: 1.5em;
}

.cal-weekend {
  background-color: #fef0f0;
}

.cal th,
.cal td {
  line-height: 3;
  padding: 0;
  width: 14.285%;
}

.cal td {
  border: 1px solid #eee;
}

.cal thead {
  border-bottom: 3px solid #666;
}

.cal a {
  display: block;
  text-decoration: none;
  color: #2f273c;
}

.cal a:hover,
.cal a:focus {
  background-color: #cde7ca;
}

.cal-inactive {
  background-color: #efefef;
  color: #aaa;
  cursor: not-allowed;

}
.cal-current {
  background-color: #7d5977;
  background-color: rgba(71, 14, 62, 0.6);
  color: #fff;

}
.cal-current a {
  color: #fff;

}
